<script>
import {activeRoute} from './store';
export let to;

function changeRoute(){
    activeRoute.set(to);
}
</script>

<style>
    a {
        color: inherit !important;
        font-weight: bolder;
        border-bottom: inherit !important;
    }

    a:hover{
        color: #EAABAC !important;
        text-decoration: none;
        border-bottom: 2px solid #EAABAC !important;
    }
</style>

<a href="#/" on:click={changeRoute} class="active">
    <slot></slot>
</a>