<script>
    import {activeRoute} from './store';

    export let component;
    export let path;

    let currenAppRoute;

    activeRoute.subscribe(newRoute => {
        currenAppRoute = newRoute;
    });

</script>

{#if currenAppRoute !== null && currenAppRoute === path}
  {#if component !== null}
    <svelte:component this="{component}" />
  {:else}
    <slot></slot>
  {/if}
{/if}