<script>
    let bitsConfig = [];
    let template = {
        time: "0",
        bits: ""
    }
    function handleNewRule(){
        bitsConfig = [...bitsConfig, template];
    }
</script>

<style>
    span{
        color: #fff;
        margin: 5%;
    }
    input{
        width: 15%;
        margin-left: 2%;
        margin-right: 2%;
    }
    div.row{
        margin: 2%;
        display: flex;
        flex-direction: column;
    }

    div.rules{
        background-color: rgb(105, 105, 117);
    }
</style>

<div class="rules">
    <div class="row">
        {#each bitsConfig as rule, index}
            <span>
                For <input type="text" class="input" /> minutes, charge <input class="text" type="number" /> bits.
            </span>
        {/each}
    </div>
    <div class="button is-primary is-outlined is-rounded" on:click="{handleNewRule}">Add Rule</div>
</div>