<script>
    import {commandGroupState} from '../store.js';
    import CommandButton from './CommandButton.svelte';
    import {onDestroy} from 'svelte';

    function handleCommandTypeChange(event){
        $commandGroupState = {
            activeCommandGroup: event.detail.command.title
        }
    }
	
	const actions = [
		{
			actionLiteral: 'B',
			action: '/build',
            title: 'Build',
            type: 'ACTION',
            loading: false,
			actionImage: 'Icon_Protoss_Pylon.jpg'
		},
		{
			actionLiteral: 'W',
			action: '/warp',
            title: 'Warp',
            type: 'ACTION',
            loading: false,
			actionImage: 'Icon_Protoss_Observer.jpg'
		}
	];
    onDestroy(() => {
        $commandGroupState = {
            activeCommandGroup: ""
        }
    });
</script>

<style>
    .panel-block {
        border: none;
        border-bottom: 2px solid #F7EBAB;
    }
</style>

<div class="panel-block">
    <section class="container">
        <div class="buttons">
            {#each actions as action}
                <CommandButton on:commandInvoked={handleCommandTypeChange}
                    command={action}
                    disabled={false}
                />
            {/each}
        </div>
    </section>
</div>