<script>
  import Router from "../components/routing/Router.svelte";
  import AuthorizedApp from './AuthorizedApp.svelte';
  import {onMount} from 'svelte';

  let userId;
  let channelId;
  let loader = true;
  let token;

  //window.Twitch.ext.bits.setUseLoopback(true);

  async function getTwitchEBSAccessToken(userId, channelId){
    let url = new URL("https://0xggusz0y8.execute-api.eu-central-1.amazonaws.com/latest/tokenize");
    let params = {'userId': userId, 'channelId': channelId};
    Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
    try {
      const resp = await fetch(url);
      const data = await resp.json();
      return data.newToken;
    } catch(err){
      console.log(err);
    }
    return null;
  }

  async function handleOnAuthorize(auth) {
    channelId = auth.channelId;
    userId = auth.userId;
    if(window.Twitch.ext.viewer.id){
        token = await getTwitchEBSAccessToken(window.Twitch.ext.viewer.id, channelId);
        if(token){
          window.localStorage.setItem("token", token);
        }
    }
    loader = false;
  }

  onMount(async () => {
    await window.Twitch.ext.onAuthorized(handleOnAuthorize);
  });
</script>

<style lang="sass" global>
  @import "bulma/bulma.sass";
</style>

<Router>
{#if loader}
   <span>Loading</span>
{:else}
   <AuthorizedApp {channelId} {token} />
{/if}}
</Router>
