<script>
  import { onMount } from "svelte";
  import { setClient, subscribe, getClient } from "svelte-apollo";
  import Route from "./routing/Route.svelte";
  import Structures from "./Structures.svelte";
  import ControlPanel from "./ControlPanel.svelte";
  import Actions from "./Actions.svelte";
  import Purchase from "./Purchase.svelte";
  import PlayView from "./PlayView.svelte";
  import { LIVE_GAME_SESSION, PLAYER_INFO } from "../queries/subscriptions.js";

  export let channelId;

  let game;
  let currentPlayer;
  let gameSessionStore;
  let playerSessionStore;

  function setUpGameSessionSubcriptions(channelId) {
    if (gameSessionStore) return;
    if (channelId) {
      let client = getClient();
      let input = {
        channelId: channelId
      };
      try {
        gameSessionStore = subscribe(client, {
          query: LIVE_GAME_SESSION,
          variables: input
        });
        gameSessionStore.subscribe(async val => {
          game = await val;
        });
      } catch (error) {
        console.log(error);
      }
    }
  }

  function setupCurrentPlayerSubscription(channelId) {
    if (playerSessionStore) return;
    if (channelId) {
      let client = getClient();
      let input = {
        channelId: channelId,
        userId: window.Twitch.ext.viewer.id
      };
      try {
        playerSessionStore = subscribe(client, {
          query: PLAYER_INFO,
          variables: input
        });
        playerSessionStore.subscribe(async val => {
          let resp = await val;
          currentPlayer =
            resp.data.PLAYERS.length === 1 ? resp.data.PLAYERS[0] : null;
        });
      } catch (error) {
        console.log(error);
      }
    }
  }

  $: {
    setUpGameSessionSubcriptions(channelId);
    setupCurrentPlayerSubscription(channelId);
  }
</script>

<style>
  .content {
    padding: 2%;
    width: 100%;
    height: 100%;
  }
</style>

<div class="content">
  {#if game}
    <Route path="/expert" component={null}>
      <ControlPanel {channelId} {game} {currentPlayer} />
    </Route>
    <Route path="/buy" component={null}>
      <Purchase {channelId} {game} {currentPlayer} />
    </Route>
    <Route path="/play" component={null}>
      <PlayView {channelId} {game} {currentPlayer} />
    </Route>
  {/if}
</div>
