<script>
    import { setClient } from "svelte-apollo";
    import { createAthenaClient } from "../components/configuration/apollo.js";
    import NavTab from "./NavTab.svelte";
    import { commandGroupState } from "../store";
    import { onMount } from "svelte";
    import AppLayout from "./AppLayout.svelte";

    export let channelId;
    export let token;

    setClient(createAthenaClient(token)());

</script>

<style>
    .layout {
        height: 100%;
    }
</style>

<div class="layout">
    <NavTab />
    <AppLayout {channelId} />
</div>