<script>
  import { PLAYER_ENQUEUE_ON_PURCHASE } from "../queries/mutations";
  import { getClient } from "svelte-apollo";
  import { isLoading, playerState } from "../store";

  export let product;
  export let channelId;
  export let currentPlayer;
  let loading = false;
  let playerId;

  // isLoading.subscribe(newState => {
  //   loading = newState;
  // });

  window.Twitch.ext.bits.onTransactionComplete(bitsPurchaseComplete);

  const client = getClient();

  function purchasePackage() {
    isLoading.set(true);
    window.Twitch.ext.bits.useBits(product.sku);
  }

  function getPrevTotalCommands() {
    return currentPlayer
      ? currentPlayer.total_commands -
          currentPlayer.players_active_session_aggregate.aggregate.sum
            .commands_executed
      : 0;
  }

  async function bitsPurchaseComplete(payload) {
    loading = true;
    let input = {
      totalCommands:
        parseInt(payload.product.sku.split("alfred")[1]) +
        getPrevTotalCommands(),
      userId: window.Twitch.ext.viewer.id,
      channelId: channelId,
      expired: false
    };
    try {
      const resp = await client.mutate({
        mutation: PLAYER_ENQUEUE_ON_PURCHASE,
        variables: input
      });
      loading = false;
    } catch (err) {
      loading = false;
      console.log(err);
    }
  }
</script>

<style>
  @media only screen and (max-width: 840px){
    span {
      font-size: 0.95em;
    }
  }
</style>

<span
  class="button is-primary is-outlined {loading ? 'is-loading' : ''}"
  on:click={purchasePackage}>
  {product.cost.amount}
</span>
