<script>
  import { getClient } from "svelte-apollo";
  import { playerState } from "../store.js";
  import Link from "../components/routing/Link.svelte";
  import LivePlayer from './LivePlayer.svelte';
  import { CREATE_NEW_GAME_SESSION, UPDATE_GAME_STATUS } from "../queries/mutations.js";
  
  export let channelId;
  export let game;

  let loader = false;

  let startGame = game.data.GAME_SESSION.length == 0;

  async function handleStartingGame(event) {
    const client = getClient();
    loader = true;
    let input = {
      channel_id: channelId,
      active: true
    };
    try {
      const resp = await client.mutate({
        mutation: CREATE_NEW_GAME_SESSION,
        variables: { game: input }
      });
    } catch (err) {
      loader = false;
      console.log(err);
    }
  }

  async function handleEndingGame(event) {
    const client = getClient();
    loader = true;
    let input = {
      channelId: channelId,
      status: false
    };
    try {
      const resp = await client.mutate({
        mutation: UPDATE_GAME_STATUS,
        variables: input
      });
    } catch (err) {
      loader = false;
      console.log(err);
    }
  }

  $: {
    if (game) {
      if(game.data.GAME_SESSION.length == 0){
        startGame = true;
      } else {
        startGame = !(game.data.GAME_SESSION[0].active);
      }
      loader = false;
    }
  }
</script>

<style>
  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }

  .action {
    /* margin-top: 25%; */
  }
</style>

<div class="content">
  <LivePlayer {game} />
  <div class="action">
    {#if startGame}
      <span
        on:click={handleStartingGame}
        class="button is-primary is-medium is-fullwidth {loader ? 'is-loading' : ''}">
        Start Game
      </span>
    {:else}
      <span
        on:click={handleEndingGame}
        class="button is-primary is-medium is-fullwidth {loader ? 'is-loading' : ''}">
        Stop Game
      </span>
    {/if}
  </div>
</div>
