<script>
  import "tippy.js/dist/tippy.css";
  import "tippy.js/themes/material.css";
  import "tippy.js/animations/scale-extreme.css";
  import { createEventDispatcher } from "svelte";
  import { onMount } from "svelte";
  import tippy from "tippy.js";
  import { tippyContent } from "../core/tippyTempl.js";
  const dispatchEvent = createEventDispatcher();

  export let command;
  export let currentPlayer;
  export let disabled;

  let hovered = false;
  let coolOffTimer = null;

  function commandClicked(event) {
    if (disabled) return;
    if (!command.coolOffState)
      dispatchEvent("commandInvoked", {
        command: command
      });
  }
  function handleHover(event) {
    hovered = true;
  }

  function handleMouseOut(event) {
    hovered = false;
  }

  function removeCoolOffStateOfCommand() {
    clearTimeout(coolOffTimer);
    coolOffTimer = null;
    dispatchEvent("commandActivated", {
      command: command
    });
  }

  function toggleCommandCoolOffState(button, disable) {
    if (disable && button.style.filter !== "") return;
    if (button && !disable) {
      button.style.filter = "";
      return;
    }

    if (button && disable) {
      button.style.filter = "opacity(0.4)";
    }
  }

  function disableButton(button) {
    if (button) {
      button.style.filter = "opacity(0.4)";
    }
  }

  onMount(() => {
    if(command.requires && command.enables){
      tippy(`span#${command.title}`, {
        content: tippyContent(command.requires, command.enables),
        animation: "scale-extreme",
        duration: 0,
        arrow: true,
        theme: "material"
      });
    }
  });

  $: if (hovered) {
    if (!command.coolOffState) {
      let button = document.getElementById(command.title);
      button.style.border = "2px solid black";
      button.style.borderRadius = "2px";
      button.style.boxShadow = "0.5px 1px 40px 1px #0ff";
    }
  } else {
    let button = document.getElementById(command.title);
    if (button) {
      button.style.border = "2px solid black";
      button.style.borderRadius = "";
      button.style.boxShadow = "";
    }
  }

  $: {
    let button = document.getElementById(command.title);
    if (button) {
      if (disabled) {
        disableButton(button);
      } else {
        toggleCommandCoolOffState(button, command.coolOffState);
      }
    }
    if (command.coolOffState) {
      if (!coolOffTimer)
        coolOffTimer = setTimeout(removeCoolOffStateOfCommand, 5000);
    }
  }
</script>

<style>
  span.small-image {
    height: 88%;
    padding: 0px;
    color: #fff;
    border: 2px solid black;
  }

  #literal {
    position: absolute;
    top: 0px;
    color: #fff;
    left: 5px;
    font-weight: bolder;
  }

  @media only screen and (max-width: 840px) {
    span.small-image {
      height: 88%;
      width: 17%;
      padding: 0px;
      color: #fff;
      border: 2px solid black;
    }
  }

</style>

<span
  class="button small-image {command.loading ? 'is-loading' : ''}"
  id={command.title}
  style={disabled ? 'opacity:0.4;' : 'opacity:40;'}
  title={command.title}
  on:click={commandClicked}
  on:mouseover={handleHover}
  on:mouseout={handleMouseOut}>
  <span id="literal">{command.actionLiteral}</span>
  {#if !command.loading}
    <img
      style={'filter: alpha(opacity=40);'}
      src={`images/${command.actionImage}`}
      alt={command.title} />
  {/if}
</span>
