<script>
import {commandGroupState} from '../store';
import Actions from './Actions.svelte';
import Structures from './Structures.svelte';

export let channelId;
export let currentPlayer;
export let game;

let commandGroup;
commandGroupState.subscribe(value => {
	commandGroup = value;
})
	
</script>

<div class="panel">
	{#if commandGroup.activeCommandGroup === "Build"}
		<Structures {currentPlayer} {channelId} />
	{/if}
	<Actions {channelId} />
</div>
