<script>
  export let game;
  let player = {
    user_name: "Bashu",
    commands_left: 20
  };
</script>

<style>
  .dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: greenyellow;

    /* background-image: -moz-radial-gradient(
      45px 45px 45deg,
      circle cover,
      orange 0%,
      green 100%,
      red 95%
    );
    background-image: -webkit-radial-gradient(
      45px 45px,
      circle cover,
      yellow,
      green
    ); */

    animation-name: shadow-pulse;
    animation-duration: 1s; /* 3 seconds */
    animation-iteration-count: infinite;
    animation-timing-function: pulse;
    /* width and height can be anything, as long as they're equal */
  }

  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px greenyellow;
    }
    100% {
      box-shadow: 0 0 0 1px greenyellow;
    }
  }

  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }

  /* Create the animation blocks */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .alfy-container {
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    color: rgb(155, 181, 255);
    text-shadow: rgb(47, 54, 255) 0px 0px 10px, rgb(157, 145, 255) 0px 0px 22px;
  }

  .name {
    width: 60%;
  }

  .command {
    width: 20%;
    text-align: end;
  }

  .space-left {
    margin-left: 5%;
  }

  li {
    list-style-type: disc;
  }
</style>

{#if game.data.GAME_SESSION.length > 0}
  <div>
    {#each game.data.GAME_SESSION[0].players_in_game as player, index}
      <li class="alfy-container">
        <!-- <div class="dot_container">
          <div class="dot" />
        </div> -->
        <div class="space-left name">
          {player.players_details.user_name || `Player ${index + 1}`}
        </div>
        <div class="space-left command">
          {player.players_details.players_active_session_aggregate.aggregate.sum.commands_executed}
          of {player.players_details.total_commands}
        </div>
      </li>
    {/each}
  </div>
{/if}
}
