<script>
  import Link from "./routing/Link.svelte";
  import { activeRoute } from "./routing/store";

  let currenAppRoute;

  activeRoute.subscribe(newRoute => {
    currenAppRoute = newRoute;
  });
</script>

<style>
  .tabs {
    margin-bottom: 0 !important;
    font-size: 14px;
  }

  .is-active {
    /* color: #eaabac !important; */
    color: rgb(103, 210, 255);
    text-shadow: rgb(57, 197, 255) 0px 0px;
    text-decoration: none;
    border-bottom: 2px solid rgb(57, 197, 255) !important;
  }

  .tab {
    /* color: #eaabac !important; */
    color: rgb(103, 210, 255);
    text-shadow: rgb(57, 197, 255) 0px 0px 10px, black 0px 0px 2px;
  }
</style>

<div class="tabs is-centered">
  <ul>
    <li class="tab {currenAppRoute === '/expert' ? 'is-active' : ''}">
      <Link to="/expert">Play</Link>
    </li>
    <li class="tab {currenAppRoute === '/buy' ? 'is-active' : ''}">
      <Link to="/buy">Buy</Link>
    </li>
    <!-- <li class="tab {currenAppRoute === "/novice" ? "is-active" : ""}"><Link to="/novice">Novice</Link></li> -->
    <li class="tab {currenAppRoute === '/play' ? 'is-active' : ''}">
      <Link to="/play">Game</Link>
    </li>
  </ul>
</div>
