<script>
  import BroadcasterView from './BroadcasterView.svelte';
  import ViewerView from './ViewerView.svelte';
  
  export let channelId;
  export let game;
  export let currentPlayer;

  let startGame = game.data.GAME_SESSION.length == 0;

  $:role = window.Twitch.ext.viewer.role;

</script>

<style>
  .content{
    height: 100%;
  }
</style>

<div class="content">
  {#if role === 'broadcaster'}
    <BroadcasterView {game} {channelId} />
  {:else}
    <ViewerView {game} {channelId} {currentPlayer} />
  {/if}
</div>
