<script>
  import BitsButton from "./BitsButton.svelte";

  export let channelId;
  export let currentPlayer;
  export let game;

  function displayTwitchProducts(products) {
    return products
      .map(product =>
        Object.assign({}, product, {
          time: product.displayName.split("Alfred")[1]
        })
      )
      .sort((a, b) => {
        return parseInt(a.time) > parseInt(b.time);
      });
  }
</script>

<style>

.container {
  height: 80%
}

@media only screen and (max-width: 840px){
  .container {
    font-size: 0.95em;
  }
}

</style>

<div class="container">
  {#await window.Twitch.ext.bits.getProducts()}
    loading
  {:then Products}
    <table class="table is-striped is-fullwidth is-hoverable">
      <thead>
        <th>Package</th>
        <th>Turns</th>
        <th>Bits</th>
      </thead>
      <tbody>
        {#each displayTwitchProducts(Products) as product}
          <tr>
            <td>{product.displayName}</td>
            <td>{product.time}</td>
            <td>
              <BitsButton {product} {channelId} {currentPlayer} />
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  {:catch error}
    <span>{error.message}</span>
  {/await}
</div>
