<script>
  import { getClient, mutate } from "svelte-apollo";
  import CommandButton from "./CommandButton.svelte";
  import { INSERT_NEW_COMMANDS } from "../queries/mutations";

  export let currentPlayer;
  export let channelId;

  let commadNotAllowed;

  let commands = [
    {
      actionLiteral: "",
      action: "Build Assimilator",
      title: "Assimilator",
      type: "COMMAND",
      enables: ["Harvesting vaspene gas"],
      requires: [],
      actionImage:
        "Icon_Protoss_Assimilator.jpg"
    },
    {
      actionLiteral: "",
      action: "Build Forge",
      title: "Forge",
      type: "COMMAND",
      enables: ["Photon Cannons for Probes"],
      requires: [],
      actionImage:
        "Icon_Protoss_Forge.jpg"
    },
    {
      actionLiteral: "",
      action: "Build Gateway",
      title: "Gateway",
      enables: ["Zealots"],
      requires: [],
      type: "COMMAND",
      actionImage:
        "Icon_Protoss_Gateway.jpg"
    },
    {
      actionLiteral: "",
      action: "Build Cybernetics Core",
      title: "CyberneticsCore",
      type: "COMMAND",
      enables: ["Senties", "Stalker", "Adepts", "Sheild battery for Photons"],
      requires: ["Gateway"],
      actionImage:
        "Icon_Protoss_Cybernetics_Core.jpg"
    },
    {
      actionLiteral: "",
      action: "Build Pylons",
      type: "COMMAND",
      title: "Pylon",
      enables: ["Power to nearby Structures", "Allows to warp in more Units"],
      requires: [],
      actionImage:
        "Icon_Protoss_Pylon.jpg"
    },
    {
      actionLiteral: "",
      action: "Build Twilight Council",
      title: "TwilightCouncil",
      type: "COMMAND",
      requires: ["Cybernetics Core"],
      enables: ["Zealots Upgrade", "Stalker Upgrade"],
      actionImage:
        "Icon_Protoss_Twilight_Council.jpg"
    },
    {
      actionLiteral: "",
      action: "Build Photon Cannon",
      title: "PhotonCannon",
      type: "COMMAND",
      enables: ["Detectors", "Attack Ground Units"],
      requires: ["Forge"],
      actionImage:
        "Icon_Protoss_Photon_Cannon.jpg"
    }
  ];

  const client = getClient();

  async function executeNewCommandQuery(event) {
    let userCommand = {
      userId: window.Twitch.ext.viewer.id,
      channelId: channelId,
      userName: "",
      command: event.detail.command.action
    };
    try {
      await mutate(client, {
        mutation: INSERT_NEW_COMMANDS,
        variables: userCommand
      });
      setCommandToCoolOffState(event.detail.command);
    } catch (err) {
      console.log(err);
    }
  }

  function setCommandToCoolOffState(activeCommand) {
    commands = commands.map(command => {
      if (command.action === activeCommand.action) command.coolOffState = true;
      else command.coolOffState = false;
      return command;
    });
  }

  function handleCoolOffRemoval(event) {
    commands = commands.map(command => {
      if (command.action === event.detail.command.action)
        command.coolOffState = false;
      return command;
    });
  }

  function checkIfDisabled(currentPlayer) {
    if (!currentPlayer) return true;
    if(currentPlayer.players_active_session.length == 0) return true;
    if (!currentPlayer.players_active_session[0].active) return true;
    return false;
  }

  $: {
    commadNotAllowed = checkIfDisabled(currentPlayer);
  }
</script>

<style>

  .panel-block {
    border: none;
    border-bottom: 2px solid #f7ebab;
  }
</style>

<div class="panel-block">
  <section class="container">
    <div class="buttons">
      {#each commands as command}
        <CommandButton
          {currentPlayer}
          disabled={commadNotAllowed}
          on:commandInvoked={executeNewCommandQuery}
          on:commandActivated={handleCoolOffRemoval}
          {command} />
      {/each}
    </div>
  </section>
</div>
