<script>
  import { getClient } from "svelte-apollo";
  import { playerState } from "../store.js";
  import Link from "../components/routing/Link.svelte";
  import LivePlayer from './LivePlayer.svelte';
  import {
    PLAYER_JOIN_ATTEMPT,
    UPDATE_PLAYER_STATUS
  } from "../queries/mutations.js";
  import {activeRoute} from './routing/store.js';

  export let channelId;
  export let game;
  export let currentPlayer;

  let playerInGame;

  let client = getClient();
  let joinLoader = false;
  let leaveLoader = false;

  async function handleGameLeaveRequest(event) {
    leaveLoader = true;
    let input = {
      channelId: channelId,
      userId: window.Twitch.ext.viewer.id,
      status: false
    };
    const client = getClient();
    try {
      const resp = await client.mutate({
        mutation: UPDATE_PLAYER_STATUS,
        variables: input
      });
    } catch (err) {
      leaveLoader = false;
      console.log(err);
    }
  }

  async function handleGameJoin(event) {
    joinLoader = true;
    let input = {
      channelId: channelId,
      userId: window.Twitch.ext.viewer.id,
      attempts: currentPlayer.players_active_session[0]
        ? currentPlayer.players_active_session[0].join_attempts + 1
        : 0,
      totalCommands: currentPlayer.total_commands
    };
    const client = getClient();
    try {
      const resp = await client.mutate({
        mutation: PLAYER_JOIN_ATTEMPT,
        variables: input
      });
    } catch (err) {
      joinLoader = false;
      console.log(err);
    }
  }

  function checkIfPlayerInGame() {
    if (!game) return false;
    if (!currentPlayer) return false;
    if (currentPlayer.players_active_session.length == 0) return false;
    return currentPlayer.players_active_session[0].active;
  }

  function changeRoute(){
    activeRoute.set("/buy");
  }

  $: {
    if (currentPlayer) {
      if (currentPlayer.players_active_session.length !== 0) {
        if (currentPlayer.players_active_session[0].active) joinLoader = false;
        else leaveLoader = false;
      }
    }
    playerInGame = checkIfPlayerInGame();
  }
</script>

<style>
  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }

  .action {
    /* margin-top: 25%; */
  }
</style>

<div class="content">
  <LivePlayer {game} />
  <div class="action">
    {#if game.data.GAME_SESSION.length == 0 || !game.data.GAME_SESSION[0].active}
      <span class="button is-primary is-medium is-fullwidth" disabled>
        No Game to Join
      </span>
    {:else if !currentPlayer}
      <span on:click={changeRoute} class="button is-primary is-medium is-fullwidth">
        Buy Package
      </span>
    {:else if !playerInGame && game.data.GAME_SESSION[0].players_needed}
      <span
        on:click={handleGameJoin}
        class="button is-primary is-medium is-fullwidth {joinLoader ? 'is-loading' : ''}">
        Join Game
      </span>
    {:else if playerInGame}
      <span
        on:click={handleGameLeaveRequest}
        class="button is-primary is-medium is-fullwidth {leaveLoader ? 'is-loading' : ''}">
        Leave Game
      </span>
    {:else}
      <span />
      >
    {/if}
  </div>
</div>
